*
{
	color: #AEAEAE;
	font-family: Courier, serif;
}

body
{
	background: #000E17;
	padding-left: 30px;
	padding-right: 30px;
}

hr
{
	color: #CECECE;
	background-color: #CECECE;
	border-color: #CECECE;
}

#FloatBox
{
	position: fixed;
	top: 0px;
	right: 0px;
	width: 20%;
	margin: 20px;
	padding: 10px;
	background-color: #EAEAEA;
	border-radius: 5px;
	border: #EAEAEA 2px solid;
	font-size: 15px;
	color:#555555;
	text-align: center;
	box-shadow: 0px 0px 7px 7px #DADADA, 0px 0px 4px 4px #DADADA inset;
}
#FloatBox p
{
	font-size: 12px;
	color:#AEAEAE;
	text-align: left;
}

#HideBoxImg
{
	width: 20px;
	height: 20px;
	float: right;
	margin-left: 10px;
	margin-right: 5px;
	margin-bottom: 10px;
	margin-top: 0px;
}

h2, h3, h4
{
	background-color: #000D17;
}

h3
{
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
}

p
{
	font-size: 10pt;
}